<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--!Exportação do head e definição do Título!-->
    <%- include('./partials/head'); %>
    <title>Página Inicial</title>
</head>
<body>
    <!--!Cabeçalho-->
    <%- include('./partials/header'); %>

    <!--!Conteúdo principal-->
    <main>
        <p>Olá, seu zé!</p>
    </main>

    <!--!Rodapé-->
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
    
    <!--!Importação do Scripts-->
    <%- include('./partials/scripts'); %>
</body>
</html>