/*!Configuração do Body*/
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
}

/*!Configuração do Main Simples*/
main{
    height: 30vw;
    width: 30vw;
    align-self: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #444444;
    flex-wrap: wrap;
}

/*!Media querrys*/
@media(max-width:767px){
    /**Main no tamanho de 767px*/
    main{
        height: 70vw;
        width: 70vw;
    }
}