<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--!Exportação do head e definição do Título!-->
    <%- include('../partials/head'); %>
        <title>Login</title>
</head>

<body>
    <!--!Cabeçalho-->
    <header>
        <%- include('../partials/header'); %>
    </header>

    <!--!Conteúdo principal-->
    <main>
        <!--*Formulário de Login-->
        <div class="px-5 py-5" id="form1">
            <form method="POST" action="/logar" class="form-data" v-if="!submitted">
                <div class="forms-inputs mb-4"> <span>Email or username</span> <input autocomplete="off" type="text"
                        v-model="email"
                        v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}"
                        v-on:blur="emailBlured = true" name="email">
                    <div class="invalid-feedback">A valid email is required!</div>
                </div>
                <div class="forms-inputs mb-4"> <span>Password</span> <input autocomplete="off" type="password"
                        v-model="password"
                        v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}"
                        v-on:blur="passwordBlured = true" name="password">
                    <div class="invalid-feedback">Password must be 8 character!</div>
                </div>
                <div class="mb-3"> <button v-on:click.stop.prevent="submit" class="btn btn-dark w-100">Login</button>
                </div>
            </form>
        </div>
    </main>

    <!--!Rodapé-->
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <!--!Importação do Scripts-->
    <%- include('../partials/scripts'); %>

</body>

</html>